@charset "UTF-8";

/* reset */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        img {
            width: 100%;
            vertical-align: top;
        }

        ul {
            padding: 10px 20px;
        }

        li {
            list-style: none;
        }

